{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Azacan</p>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row justify-content-center">
        <div class="col">
            <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt ligula sed orci imperdiet
                tristique. Mauris id felis metus. Nam lacinia ante consectetur augue imperdiet sodales. Morbi pretium
                dapibus luctus. Cras pellentesque, nunc ut vestibulum tincidunt, massa nisi vestibulum ex, quis
                malesuada
                risus lacus id ligula. Vivamus semper ante eget nibh ultricies pretium. Nunc ultrices maximus varius.
                <br /><br />
                Etiam in convallis massa. Proin tincidunt id quam et interdum. Aenean auctor in arcu eu scelerisque.
                Nunc
                dignissim enim in mi aliquet, eu ornare mauris tristique. Nunc rhoncus dui nec augue sollicitudin, sit
                amet
                rutrum mi venenatis. Nam vel malesuada magna, eget faucibus nisl. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Integer aliquam metus dui, ac egestas enim maximus
                in.
                Sed ut consectetur mi, sit amet luctus odio. Ut in interdum odio. Quisque blandit sagittis sollicitudin.
                Ut
                sit amet feugiat lacus. Ut pellentesque ex ut orci tincidunt, vel pretium tortor tincidunt. Integer at
                risus
                consectetur, hendrerit nisl sit amet, convallis justo. Suspendisse euismod pretium dapibus.
                <br /><br />
                Curabitur sodales porttitor luctus. Mauris vitae dictum erat. Mauris velit augue, sagittis a lacus et,
                mollis mattis mauris. Sed ligula mauris, viverra nec urna eget, imperdiet blandit ex. Donec a orci
                lorem.
                Aenean laoreet leo non justo lobortis, a venenatis nibh porttitor. Aenean nec diam quam.
                <br /><br />
                Nunc non magna at orci gravida maximus. Vestibulum imperdiet lorem justo. Orci varius natoque penatibus
                et
                magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vulputate dolor quam, at cursus velit
                dapibus eget. Mauris vel tristique augue. Maecenas sit amet erat elementum, placerat sem sit amet,
                accumsan
                mi. Aenean tempor eros vel interdum eleifend. In sit amet aliquam nibh, at molestie enim. Phasellus
                elementum pharetra nisi, et maximus augue pulvinar eu. Pellentesque ac orci ultricies, gravida libero
                sit
                amet, semper lorem. Phasellus ac leo vitae mi faucibus tincidunt sed vel urna. Aenean nec vehicula enim.
                Pellentesque vel sapien purus. Nunc lacus orci, consectetur non lacus eget, pulvinar posuere tortor.
                <br /><br />
                Donec arcu erat, pretium lobortis tellus at, feugiat consectetur tortor. Phasellus at dolor pharetra,
                malesuada lorem ut, pulvinar nisl. Mauris arcu enim, mollis eu volutpat at, venenatis ultricies arcu.
                Duis
                et purus nec felis congue varius. Sed ultrices quis lorem et consectetur. Donec iaculis sit amet augue
                quis
                tincidunt. Integer rutrum convallis dictum. Nam a velit non dolor facilisis interdum in quis leo. Proin
                tristique leo nec dapibus malesuada. Praesent nec metus tempor magna efficitur tristique. Vestibulum
                ante
                ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                <br /><br />
            </p>
        </div>
    </div>
</div>
{% endblock %}